/*Cambiar el tamaño del logo*/
.navbar-logo {
  max-height: 50px;
}

.center-xy {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%), translateX(-50%);
  transform: translateY(-50%), translateX(-50%);
}

.x_small_font {
  font-size: x-small;
  text-align: justify;
  text-justify: inter-word;
}

.small_font {
  font-size: 65%;
  text-align: justify;
  text-justify: inter-word;
}

main.content p {
  text-align: justify;
  text-justify: inter-word;
  /* mejora el espaciado en navegadores que lo soportan */
  hyphens: auto;
  /* habilita guionado automático si el idioma está bien definido */
}